@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');

html {
    background-color: #212121;
    font-family: 'League Spartan', sans-serif;
    color: #ffffff;
}

.country {
    border-radius: 1.25vw;

    background-color: #141414;

    display: flex;
    flex-direction: column;

    width: 15vw;
}

.country-flag {
    object-fit: cover;
    
    border-radius: 1.25vw;
}

.country-content {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.25rem;
}

.country-name {
    margin-top: 0;
    margin-bottom: 0.75rem;

    align-self: center;

    text-transform: uppercase;
}

.country-info {
    margin: 0;
}